body {
  background-color: #efefef;
  font-family: "Funnel Sans", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 20px;
}
