html,
body {
  height: 100%;
  margin: 0; /* Remove default body margin */
}
/* this is to make sure the gradient does not get cut */

body {
  background: #f896d8;
  background: linear-gradient(
    356deg,
    rgba(248, 150, 216, 1) 0%,
    rgba(255, 209, 220, 1) 100%
  );
  font-family: "Funnel Sans", sans-serif;
}

a {
  color: #724cf9;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 50px;
  border-radius: 40px;
  color: #564592;
}

header {
  border-bottom: 1px solid #efefef;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #efefef;
  border: none;
  border-radius: 25px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #724cf9;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
}

.weather-app-details strong {
  color: #f896d8;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 20px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #efefef;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #212121;
  opacity: 60%;
}
